.task-tile-container {
    padding: none;
    text-align: left;
    margin: none;
    align-items: left;
    border: none;

}

h2 {
    padding: none;
    text-align: left;
    margin: none;
    align-items: left;
    border: none;
}