h2 {
  padding: none;
  text-align: left;
  margin: none;
  align-items: left;
}

.faqContainer {
  width: 60%;
  text-align: left;
}


.faqItem {
  background: #ffffff;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  box-shadow: 3px 5px 10px rgba(159, 180, 233, 0.2);
  transition: background 0.3s;
}

.faqItem:hover .question {
  background: #85f291;
  color: #000000;
}

/* .faqItem:active .question {
  background: #01bbe4;
  color: #fff;
} */

.faqItem .question {
  font-weight: 600;
  padding: 1.5rem;
  font-size: 1.8rem; /* Adjust the font size for mobile */
}

.faqItem .answer {
  padding: 10px;
  /* font-weight: bold; Add font-weight property to make the text bold */
  font-size: 1.5rem; /* Adjust the font size for mobile */
  display: none; /* Hide the answer by default */
  
}

.faqItem.active .answer {
  display: block; /* Show the answer when the item is active */
}

@media only screen and (max-width: 600px) {
  .faqItem .question {
    font-size: 1rem; /* Increase the font size for desktop */
    margin-bottom: 5px; /* Add margin-bottom for desktop */
    text-align: left;
    min-width: 350px;
  }

  .faqContainer {
    width: 60%;
    text-align: left;
    min-width: 350px;
  }
  .faqItem .answer {
    font-size: 1rem; /* Increase the font size for desktop */
    text-align: left;
  }
  h2 {
    text-align: left;
    margin-left: 2%;
  }
}



