/* Category Choices on Select Category Page */
.category-container {
	display: flex;
	justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
;
  }
  
  .category-container-inner {
	display: grid;
  justify-content: center;
  align-items: center;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	max-width: 800px; /* Optional: Adjust the maximum width of the grid */
	margin: 0 auto; /* Optional: Centers the grid */

}

.category-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px; /* Adjust the padding value to increase or decrease white space */
  border: 10px solid transparent;
}


    .category-item:hover {
        background-color: #85F291;
        transition: 0.3s;
        transform: translateY(-0.1rem);
    }
  
  .category-item img {
    max-width: 100%;
  /* Adjust the image size as desired */
  }
  
  /* Media query for mobile devices */
  @media (max-width: 600px) {
	.category-container-inner {
	  grid-template-columns: repeat(2, 1fr);
	}

  .category-item{
    margin: 0px;
  }

  .category-item img {
    width: 100px; /* Adjust the image size as desired */
    }

  .header{
    margin-bottom: 1.5rem;
  }

  .category-h1{
    margin: 0 20px 10px;
  }
  }