.navbar {
    position: relative;
    z-index: 100; /* Adjust the z-index value as needed */
  }
  
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100%; */
  }

 
  
  .profile-input-field {
    display: flex;
  }
  
  .icon-size {
    height: 38px;
  }
  
  
  .image-overlay {
    border-radius: 50%;
    top: 0;
    min-height: 60px;
    min-width: 60px;
    width: 10%;
    z-index: -20;
    background: white;
    /* padding: 2%; */
    margin-top: 5%;
  }
  
  
  .button-blue {
    width: 250px;
    height: 50px;
    background: var(--primary-blue);
    border-radius: 30px;
    border: none;
    color: #000;
    font-size: 16pt;
    margin-left: 0%;
    margin-top: 0rem;
  }
  
  .button-green {
    width: 250px;
    height: 50px;
    background: var(--primary-green);
    border-radius: 30px;
    border: none;
    color: #000;
    font-size: 16pt;
    margin-top: 2rem;
    margin-left: 0%;
  }
  
  .profile-input-field {
    display: flex;
    align-items: center;
    max-width: 15rem;
    width: 100%;  /* Full width on small screens */
    margin-bottom: 20px;
  }
  
  .inputs-container {
    display: flex;
    flex-direction: column;  /* Set as column initially for mobile view */
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    width: 80%;  /* Full width on small screens */
  }
  .profile-input-field img {
    margin-right: 10px;
  }
  
  .profile-input-field input {
    flex-grow: 1;
  }
  
  .button-blue,
  .button-green {
    margin-top: 20px;
    padding: 10px 20px;
  }


  
  @media  (min-width: 1200px) {
    .circle {
        margin-top: 5%;
      width: 250px;
      height: 250px;
      border-radius: 50%;
      clip-path: circle(50% at 50% 50%);
      top: -25%;
    }
  
    .image-overlay {
      border-radius: 50%;
      top: 0;
      min-height: 40px;
      width: 10%;
      z-index: -20;
      background: white;
      /* padding: 2%; */
      margin-top: 5%;
    }
  }
  
  @media (min-width: 768px) {
    .profile-input-field {
      width: 45%;  /* Adjust to your liking */
    }
  
    .inputs-container {
      flex-direction: row;  /* Change to row for larger screens */
      flex-wrap: wrap;
      width: 50%;  /* Adjust to your liking */
    }
    .image-overlay {
      border-radius: 50%;
      top: 0;
      min-height: 40px;
      width: 10%;
      z-index: -20;
      background: white;
      /* padding: 2%; */
      margin-top: 5%;
    }
  }