.navbar {
  position: relative;
  z-index: 100; /* Adjust the z-index value as needed */
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 100%; */
  margin-bottom: 5rem;
}

.bio{
display: flex;
justify-content: center;
margin: 0 auto;
width: 100%;
height: 8rem;
}
.user-bio{
padding: 1rem;
font-size: 1rem;
background-color: var(--secondary-blue);
border-radius: 10px;
}

textarea{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid var(--primary-blue);
  background-color: var(--secondary-blue);
  text-align: left; 
}

.profile-input-field {
  display: flex;
}

.icon-size {
  height: 38px;
}

input::file-selector-button{
  width: 150px;
  height: 37px;
  background: var(--primary-blue);
  border-radius: 30px;
  margin: 10px;
  border: none;
  color: var(--primary-background-colour);
  font-size: 16pt;
  cursor:pointer;
}


.image-container2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: inline-block; 
  position: relative; 
  width: 300px; 
  height: 300px; 
  overflow: hidden; 
  border-radius: 50%; 
}
.image-container2 img {
  width: auto;
  height: 100%;
  /* margin-left: -60px;  */
}



.button-blue {
  width: 250px;
  height: 50px;
  background: var(--primary-blue);
  border-radius: 30px;
  border: none;
  color: #000;
  font-size: 16pt;
  margin-left: 0%;
  margin-top: 0rem;
}

.button-green {
  width: 250px;
  height: 50px;
  background: var(--primary-green);
  border-radius: 30px;
  border: none;
  color: #000;
  font-size: 16pt;
  margin-top: 1.5rem;
  margin-left: 0%;
}

.profile-input-field {
  display: flex;
  align-items: center;
  max-width: 25rem;
  width: 100%;  /* Full width on small screens */
  margin-bottom: 20px;
}

.inputs-container {
  display: flex;
  flex-direction: column;  /* Set as column initially for mobile view */
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  width: 80%;  /* Full width on small screens */
}
.profile-input-field img {
  margin-right: 10px;
}

.profile-input-field input {
  flex-grow: 1;
}

.button-blue,
.button-green {
  margin-top: 20px;
  padding: 10px 20px;
}

input[type=tel] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid var(--primary-blue);
  background-color: var(--secondary-blue);
  text-align: left;
}

input[type=date] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid var(--primary-blue);
  background-color: var(--secondary-blue);
  text-align: left;
}


@media (min-width: 768px) {
  .profile-input-field {
    width: 45%;  /* Adjust to your liking */
  }

  .inputs-container {
    flex-direction: row;  /* Change to row for larger screens */
    flex-wrap: wrap;
    width: 50%;  /* Adjust to your liking */
  }

  
  
}