.view-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.all-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: var(--text-colour);
    font-family: "futura-pt", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 11pt;
    @media screen and (min-width: 950px) {
        width: 40%
    }
    height: 80%;
    max-width: 90%;
    cursor: pointer;
    /* padding: 5%; */
    box-shadow: 3px 5px 10px rgb(0 0 0 / 0.2);
    background-color: white;
    margin-top: 3rem;
}


.info-container {
    margin: 0 auto;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    /* background-color: var(--secondary-blue); */
    max-width: 500px;
    justify-content: center;
    align-items: center;
  
    
}
.category-logo {
    margin-bottom: 2rem;
    border: 10px solid transparent;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid var(--primary-blue);
    background-color: var(--secondary-blue);
  }

  .task-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .description-container {
    margin-bottom: 1rem;
    font-size: large;
    font-weight: semi-bold;
  }

  .location-container {
    margin-bottom: 1rem;
  }

