.footer {
    text-align: center;
    background-color:#85F291
  }
  
  .footer-line {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px auto;
    width: 50%;
  }
  
  .footer-content {
    margin-top: 0px;
  }
  
  .footer-text {
    font-size: 18px;
    text-align: center;
  }
  
  /* Media query for screens wider than 900px */
  @media (max-width: 900px) {
    .footer {
      display: none; /* Hide the footer on screens less than or equal to 900px */
    }
  }