/* DESIGN SYSTEM */

/* Main font: 

@import url("https://use.typekit.net/ycz4yvq.css");

--- TYPOGRAPHY 
Mobile Font sizes (px)
11 / 16 / 30 

Desktop Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 64 / 86

/* Main font: 

@import url("https://use.typekit.net/ycz4yvq.css");

.small-text {
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 11pt;
}

.medium-text {
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16pt;
}
--- 02: COLORS

- Primary: #01BBE4

- Secondary:
#FFFFFF 
#85F291
#CAF1F9
#FDB645

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */


/* .home {
  background: linear-gradient(180deg, rgba(1,187,228,1) 62%, rgba(1,228,216,1) 88%, rgba(133,242,145,1) 100%);

} */


:root{
  --primary-background-colour: #FFFFFF;
  --primary-blue: #01BBE4;
  --primary-green: #85F291;
  --secondary-blue: #CAF1F9;
  --in-progress: #FDB645;
  --text-colour: #000000;
  --gradient: linear-gradient(90deg, rgba(1,187,228,1) 62%, rgba(1,228,216,1) 88%, rgba(133,242,145,1) 100%);
  }


/* Header Gradient */
.myGradient {
  background: var(--primary-blue);
/* background: linear-gradient(90deg, rgba(1,187,228,1) 62%, rgba(1,228,216,1) 88%, rgba(133,242,145,1) 100%); */
background: var(--gradient)
}

.App {
  text-align: center;
  /* background: linear-gradient(180deg, rgba(1,187,228,1) 40%, rgba(133,242,145,1) 100%); */
  height: 100vh;

}

/* body {
  background: linear-gradient(180deg, rgba(1,187,228,1) 62%, rgba(1,228,216,1) 88%, rgba(133,242,145,1) 100%);
} */

h1 {
  font-family: "futura-pt-bold", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24pt;
}


p {
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 11pt;
}


/* h2 { 
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16pt;
} */

/* Buttons */
.button {
  width: 150px;
  height: 37px;
  background: var(--primary-blue);
  border-radius: 30px;
  margin: 10px;
  border: none;
  color: var(--primary-background-colour);
  font-size: 16pt;
}

.button-green {
  width: 150px;
  height: 37px;
  background: var(--primary-green);
  border-radius: 30px;
  margin: 10px;
  border: none;
  color: var(--primary-background-colour);
  font-size: 16pt;
}

/* page-container */


 /* All items in Browse Page */
.browse-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* All task cards in a list */
.tasklist-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  margin: 0.5%;
  width: 80%;
}

.tasklist-container > *{
  display: flex;
  flex: 1 1 15em;
  margin: 0.5%;
  }


/* Task Cards */
.task-card {
display: flex;
flex-direction: column;
background-color: var(--primary-background-colour) ;
border-radius: 10px;
box-shadow: 3px 5px 10px rgb(0 0 0 / 0.2);
color: var(--text-colour);
font-family: "futura-pt", sans-serif;
font-weight: 500;
font-style: normal;
font-size: 11pt;
width: 100%;
height: 100%;
padding: 5%;
}

#logo {
  margin: 5%;
}

#hearticon { 
  max-width: 70%;
  padding: 5%;
}

