@import url("https://use.typekit.net/ycz4yvq.css");

/* Futura PT Bold
font-family: "futura-pt-bold", sans-serif;
font-weight: 700;
font-style: normal;

Futura PT Heavy
font-family: "futura-pt", sans-serif;
font-weight: 700;
font-style: normal; */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'futura-pt','Futura PT Bold', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
font-weight: 400;
font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
